# R_7 Clean Politics Data

In [1]:
import pandas as pd

In [2]:
raw_data_2022 = pd.read_csv('../data/raw/19 and 22 2 candidates/2022_2_candidates.csv')
raw_data_2019 = pd.read_csv('../data/raw/19 and 22 2 candidates/2019_2_candidates.csv')

In [3]:
raw_data_2022

,State,DivisionId,DivisionAb,DivisionName,TCPCandidate,PreferenceVotes,CandidateId,CandidateSurname,PartyAb
0,ACT,318,BEAN,Bean,1,53455,32253,SMITH,ALP
1,ACT,318,BEAN,Bean,2,39484,33397,COCKS,LP
2,ACT,101,CANB,Canberra,1,57961,32233,PAYNE,ALP
3,ACT,101,CANB,Canberra,2,28442,32881,ZAKI,LP
4,ACT,102,FENN,Fenner,1,52462,32258,LEIGH,ALP
...,...,...,...,...,...,...,...,...,...
297,WA,245,PERT,Perth,2,45615,35303,LP_PERT,LP
298,WA,247,SWAN,Swan,1,44083,35311,ALP_SWAN,ALP
299,WA,247,SWAN,Swan,2,50160,35312,LP_SWAN,LP
300,WA,248,TANG,Tangney,1,61372,35323,LP_TANG,LP
301,WA,248,TANG,Tangney,2,41766,35322,ALP_TANG,ALP

In [5]:
# Select just the columns wee need to keep, from the raw 2022 election results
df_list = []
for id, data in raw_data_2022.groupby(['DivisionId']):
    
    data.index = [0, 1]

    state = data.loc[0, 'State']
    DivisionId = data.loc[0, 'DivisionId']
    DivisionAb = data.loc[0, 'DivisionAb']
    DivisionName = data.loc[0, 'DivisionName']

    party1 = data.loc[0, 'PartyAb']
    party2 = data.loc[1, 'PartyAb']
    party1_votes = data.loc[0, 'PreferenceVotes']
    party2_votes = data.loc[1, 'PreferenceVotes']

    winning_percent = max(party1_votes, party2_votes)/(party1_votes+party2_votes)

    winning_party = party2
    if party1_votes > party2_votes:
        winning_party = party1

    df_list.append(pd.DataFrame({'state': [state], 'DivisionId': [DivisionId], 'DivisionAb': [DivisionAb], 'DivisionName': [DivisionName],
                                 'WinningParty2022': [winning_party], 'WinningPercent2022': [winning_percent]}))
    
cleaned_data = pd.concat(df_list)
cleaned_data

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022
0,ACT,101,CANB,Canberra,ALP,0.670822
0,ACT,102,FENN,Fenner,ALP,0.605566
0,NSW,103,BANK,Banks,LP,0.562619
0,NSW,104,BART,Barton,ALP,0.594147
0,NSW,105,BENN,Bennelong,LP,0.569119
...,...,...,...,...,...,...
0,VIC,323,MONA,Monash,LP,0.568592
0,VIC,324,NICH,Nicholls,NP,0.700294
0,SA,325,SPEN,Spence,ALP,0.641293
0,VIC,326,HAWK,Hawke,ALP,0.602169
0,VIC,328,CORA,Corangamite,ALP,0.510540

In [7]:
# Select just the columns wee need to keep, from the raw 2019 election results
df_list = []
for id, data in raw_data_2019.groupby(['DivisionId']):
    
    data.index = [0, 1]

    state = data.loc[0, 'State']
    DivisionId = data.loc[0, 'DivisionId']
    DivisionAb = data.loc[0, 'DivisionAb']
    DivisionName = data.loc[0, 'DivisionName']

    party1 = data.loc[0, 'PartyAb']
    party2 = data.loc[1, 'PartyAb']
    party1_votes = data.loc[0, 'PreferenceVotes']
    party2_votes = data.loc[1, 'PreferenceVotes']

    winning_percent = max(party1_votes, party2_votes)/(party1_votes+party2_votes)

    winning_party = party2
    if party1_votes > party2_votes:
        winning_party = party1

    df_list.append(pd.DataFrame({'DivisionAb': [DivisionAb],
                                 'WinningParty2019': [winning_party], 'WinningPercent2019': [winning_percent]}))
    
cleaned_data2 = pd.concat(df_list)
cleaned_data2

   DivisionAb WinningParty2019  WinningPercent2019
0        CANB              ALP            0.629406
0        FENN              ALP            0.618387
0        BANK               LP            0.514405
0        BART              ALP            0.583008
0        BENN               LP            0.597164
..        ...              ...                 ...
0        FRAS              ALP            0.697902
0        MACN              ALP            0.512054
0        MONA               LP            0.575086
0        NICH               NP            0.524941
0        SPEN              ALP            0.671670

[151 rows x 3 columns]

In [8]:
# merge these two
merged = cleaned_data.merge(cleaned_data2, how='outer', on='DivisionAb')

In [10]:
# STIRLING electorate removedin 2022 election
merged = merged[merged['DivisionAb'] != 'STIR']
merged

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022,WinningParty2019,WinningPercent2019
0,ACT,101.0,CANB,Canberra,ALP,0.670822,ALP,0.629406
1,ACT,102.0,FENN,Fenner,ALP,0.605566,ALP,0.618387
2,NSW,103.0,BANK,Banks,LP,0.562619,LP,0.514405
3,NSW,104.0,BART,Barton,ALP,0.594147,ALP,0.583008
4,NSW,105.0,BENN,Bennelong,LP,0.569119,LP,0.597164
...,...,...,...,...,...,...,...,...
146,VIC,323.0,MONA,Monash,LP,0.568592,LP,0.575086
147,VIC,324.0,NICH,Nicholls,NP,0.700294,NP,0.524941
148,SA,325.0,SPEN,Spence,ALP,0.641293,ALP,0.671670
149,VIC,326.0,HAWK,Hawke,ALP,0.602169,NaN,NaN
150,VIC,328.0,CORA,Corangamite,ALP,0.510540,ALP,0.500303

In [12]:
# HAWKE electorate added in 2022
merged.loc[149, 'WinningParty2019'] = '-'
merged.loc[149, 'WinningPercent2019'] = 0.5
merged

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022,WinningParty2019,WinningPercent2019
0,ACT,101.0,CANB,Canberra,ALP,0.670822,ALP,0.629406
1,ACT,102.0,FENN,Fenner,ALP,0.605566,ALP,0.618387
2,NSW,103.0,BANK,Banks,LP,0.562619,LP,0.514405
3,NSW,104.0,BART,Barton,ALP,0.594147,ALP,0.583008
4,NSW,105.0,BENN,Bennelong,LP,0.569119,LP,0.597164
...,...,...,...,...,...,...,...,...
146,VIC,323.0,MONA,Monash,LP,0.568592,LP,0.575086
147,VIC,324.0,NICH,Nicholls,NP,0.700294,NP,0.524941
148,SA,325.0,SPEN,Spence,ALP,0.641293,ALP,0.671670
149,VIC,326.0,HAWK,Hawke,ALP,0.602169,-,0.500000
150,VIC,328.0,CORA,Corangamite,ALP,0.510540,ALP,0.500303

In [14]:
# create extra columns
merged['ChangedWinningParty'] = merged['WinningParty2022'] != merged['WinningParty2019']
merged['ChangeInWinningPercent'] = merged['WinningPercent2022'] - merged['WinningPercent2019']
merged

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022,WinningParty2019,WinningPercent2019,ChangedWinningParty,ChangeInWinningPercent
0,ACT,101.0,CANB,Canberra,ALP,0.670822,ALP,0.629406,False,0.041415
1,ACT,102.0,FENN,Fenner,ALP,0.605566,ALP,0.618387,False,-0.012821
2,NSW,103.0,BANK,Banks,LP,0.562619,LP,0.514405,False,0.048214
3,NSW,104.0,BART,Barton,ALP,0.594147,ALP,0.583008,False,0.011139
4,NSW,105.0,BENN,Bennelong,LP,0.569119,LP,0.597164,False,-0.028045
...,...,...,...,...,...,...,...,...,...,...
146,VIC,323.0,MONA,Monash,LP,0.568592,LP,0.575086,False,-0.006493
147,VIC,324.0,NICH,Nicholls,NP,0.700294,NP,0.524941,False,0.175353
148,SA,325.0,SPEN,Spence,ALP,0.641293,ALP,0.671670,False,-0.030377
149,VIC,326.0,HAWK,Hawke,ALP,0.602169,-,0.500000,True,0.102169
150,VIC,328.0,CORA,Corangamite,ALP,0.510540,ALP,0.500303,False,0.010237

In [15]:
# add 2022 winning party's 2019 vote percent
df_list = []
for id, data in raw_data_2019.groupby(['DivisionId']):
    
    data.index = [0, 1]

    data['2022WinningParty2019percent'] = data['PreferenceVotes']/sum(data['PreferenceVotes'])

    df_list.append(data[['DivisionAb', 'PartyAb', '2022WinningParty2019percent']])
    
data_2019 = pd.concat(df_list)

In [21]:
# again, make changes for Hawke
merged2 = merged.merge(data_2019, how='left', left_on = ['DivisionAb', 'WinningParty2022'], right_on = ['DivisionAb', 'PartyAb'])
merged2.loc[149, 'PartyAb'] = '-'
merged2.loc[149, '2022WinningParty2019percent'] = 0.5
merged2

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022,WinningParty2019,WinningPercent2019,ChangedWinningParty,ChangeInWinningPercent,PartyAb,2022WinningParty2019percent
0,ACT,101.0,CANB,Canberra,ALP,0.670822,ALP,0.629406,False,0.041415,ALP,0.629406
1,ACT,102.0,FENN,Fenner,ALP,0.605566,ALP,0.618387,False,-0.012821,ALP,0.618387
2,NSW,103.0,BANK,Banks,LP,0.562619,LP,0.514405,False,0.048214,LP,0.514405
3,NSW,104.0,BART,Barton,ALP,0.594147,ALP,0.583008,False,0.011139,ALP,0.583008
4,NSW,105.0,BENN,Bennelong,LP,0.569119,LP,0.597164,False,-0.028045,LP,0.597164
...,...,...,...,...,...,...,...,...,...,...,...,...
146,VIC,323.0,MONA,Monash,LP,0.568592,LP,0.575086,False,-0.006493,LP,0.575086
147,VIC,324.0,NICH,Nicholls,NP,0.700294,NP,0.524941,False,0.175353,NP,0.524941
148,SA,325.0,SPEN,Spence,ALP,0.641293,ALP,0.671670,False,-0.030377,ALP,0.671670
149,VIC,326.0,HAWK,Hawke,ALP,0.602169,-,0.500000,True,0.102169,-,0.500000
150,VIC,328.0,CORA,Corangamite,ALP,0.510540,ALP,0.500303,False,0.010237,ALP,0.500303

In [25]:
# fill any potential nas with 0.5 (e.g. 2019 party wasn't even 2nd)
merged2['2022WinningParty2019percent'] = merged2['2022WinningParty2019percent'].fillna(0.5)
# create the desired column: how much more votes did winning party in 2022 get compared to 2019
merged2['2022WinningPartyOwnChangeInPercent'] = merged2['WinningPercent2022'] - merged2['2022WinningParty2019percent']
merged2 = merged2.drop(['PartyAb', '2022WinningParty2019percent'], axis = 1)
merged2

,state,DivisionId,DivisionAb,DivisionName,WinningParty2022,WinningPercent2022,WinningParty2019,WinningPercent2019,ChangedWinningParty,ChangeInWinningPercent,2022WinningPartyOwnChangeInPercent
0,ACT,101.0,CANB,Canberra,ALP,0.670822,ALP,0.629406,False,0.041415,0.041415
1,ACT,102.0,FENN,Fenner,ALP,0.605566,ALP,0.618387,False,-0.012821,-0.012821
2,NSW,103.0,BANK,Banks,LP,0.562619,LP,0.514405,False,0.048214,0.048214
3,NSW,104.0,BART,Barton,ALP,0.594147,ALP,0.583008,False,0.011139,0.011139
4,NSW,105.0,BENN,Bennelong,LP,0.569119,LP,0.597164,False,-0.028045,-0.028045
...,...,...,...,...,...,...,...,...,...,...,...
146,VIC,323.0,MONA,Monash,LP,0.568592,LP,0.575086,False,-0.006493,-0.006493
147,VIC,324.0,NICH,Nicholls,NP,0.700294,NP,0.524941,False,0.175353,0.175353
148,SA,325.0,SPEN,Spence,ALP,0.641293,ALP,0.671670,False,-0.030377,-0.030377
149,VIC,326.0,HAWK,Hawke,ALP,0.602169,-,0.500000,True,0.102169,0.102169
150,VIC,328.0,CORA,Corangamite,ALP,0.510540,ALP,0.500303,False,0.010237,0.010237

In [27]:
merged2.to_csv('../data/curated/ElectionData/2022ElectionData.csv')